name: Linux Native Compiler

on:

  workflow_dispatch:

  # push:
  #   branches: dotysan

jobs:

  build:
    name: ${{ matrix.compiler }}-${{ matrix.version }} on ${{ matrix.os }}${{ matrix.arch }}
    runs-on: ${{ matrix.os }}${{ matrix.arch }}

    strategy:
      fail-fast: false
      matrix:
        arch:
          - ''
          - '-arm'
        include:
          - os: ubuntu-22.04
            compiler: gcc
            version: 14
          - os: ubuntu-24.04
            compiler: gcc
            version: 14
          - os: ubuntu-24.04
            compiler: clang
            version: 19
          - os: ubuntu-24.04
            compiler: clang
            version: 20

    env:
      CXX: ${{ matrix.compiler == 'gcc' && 'g++-' || 'clang++-' }}${{ matrix.version }}
      CC:  ${{ matrix.compiler == 'gcc' && 'gcc-' || 'clang-' }}${{ matrix.version }}

    steps:
      - name: Checking out ${{ github.repository }}
      - uses: actions/checkout@latest

      - name: Cache/install Lowdown for man page generation
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: lowdown

      - name: Cache/install Clang toolchain
        if: matrix.compiler == 'clang'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-${{ matrix.version }}

      - name: Install GCC from test PPA
        if: matrix.compiler == 'gcc' && contains(matrix.os, 'ubuntu-22.04')
        run: sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: gcc-${{ matrix.version }} g++-${{ matrix.version }}
      #   run: |
      #     sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      #     sudo apt-get update
      #     sudo apt-get install -y gcc-${{ matrix.toolchain.version }} g++-${{ matrix.toolchain.version }}

      # - name: Install Clang
      #   if: matrix.toolchain.compiler == 'clang'
      #   uses: llvm/actions/setup-llvm@v1
      #   with:
      #     version: ${{ matrix.toolchain.version }

      - name: Compile
        # we run 2 jobs per cpu core because most are small
        run: make CXX="${{ env.CXX }}" CC="${{ env.CC }}" THREADS=$(($(nproc)*2))
