name: Linux Native Compiler

on:

  workflow_dispatch:

  # push:
  #   branches: dotysan

jobs:

  build:
    name: ${{ matrix.toolchain.compiler }}-${{ matrix.toolchain.version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        toolchain:
          - compiler: gcc
            version: 14
          - compiler: clang
            version: 19
          # - compiler: clang
          #   version: 20
 
    # concurrency:
    #   group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-native
    #   cancel-in-progress: true

    env:
      CXX: ${{ matrix.toolchain.compiler == 'gcc' && format('g++-{0}', matrix.toolchain.version) || format('clang++-{0}', matrix.toolchain.version) }}
      CC:  ${{ matrix.toolchain.compiler == 'gcc' && format('gcc-{0}',  matrix.toolchain.version) || format('clang-{0}',  matrix.toolchain.version) }}

    steps:
      - uses: actions/checkout@v6

      # - name: Install native build tools
      #   run: sudo apt-get update && sudo apt-get install -y build-essential cmake ninja-build

      - name: Cache/install Clang toolchain
        if: matrix.toolchain.compiler == 'clang'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-${{ matrix.toolchain.version }}

      # - name: Install GCC
      #   if: matrix.toolchain.compiler == 'gcc'
      #   run: |
      #     sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      #     sudo apt-get update
      #     sudo apt-get install -y gcc-${{ matrix.toolchain.version }} g++-${{ matrix.toolchain.version }}

      # - name: Install Clang
      #   if: matrix.toolchain.compiler == 'clang'
      #   uses: llvm/actions/setup-llvm@v1
      #   with:
      #     version: ${{ matrix.toolchain.version }

      - name: Compile
        # we hard-code here because there are 15 jobs and most are small
        run: make CXX="${{ env.CXX }}" CC="${{ env.CC }}" THREADS=15
